
footer{
    background-color: black;
    color:rgb(190, 190, 190);
    bottom: 0px;
    width: 100%;
}

p, h5, a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgb(190, 190, 190) !important;
    
}

a{
    text-decoration: none;
}

a:hover{
    color:rgb(255, 255, 255) !important;
}

.nav-item{
    margin-bottom: 1px;
}

img{
    width: 220px;
}