<footer class="py-2">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-5 text-center">
                <img src="../../assets/logo.png" alt="Logo">
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase  font-wight-bold text-light">nosotros</h5>
                <hr class="mb-2">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil nisi doloribus provident officia
                    aliquid alias laboriosam rerum dolorum optio reprehenderit?</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase font-wight-bold text-light">Legal</h5>
                <hr class="mb-2">
                <p class="nav-item">
                    <a class="text-light" href="">Termino y condiciones</a>
                </p>
                <p class="nav-item">
                    <a class="text-light" href="">Política de privacidad y cookies</a>
                </p>
                <p class="">
                    <a class="text-light" href="">Consejos</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase font-wight-bold text-light">Contacto</h5>
                <hr class="mb-2">
                <p class="nav-item">
                    <li class="fas fa-home me-3"></li>Santiago, Chile.
                </p>
                <p class="nav-item">
                    <a class="text-light" href="">
                        <li class="fas fa-envelope me-3"></li>Pablo@gmail.com
                    </a>
                    
                </p>
                <p class="">
                    <a class="text-light fs-4 me-3" href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="text-light fs-4 me-3" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-light fs-4" href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </p>
            </div>
            <hr>
            <div class="text-center">
                <p>&copy; {{autor.nombre}}</p>
            </div>
        </div>
    </div>
</footer>