/*Header*/
p, h5, a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;}
#nav-link-2{min-width: 110px;}
#cabecera{max-height: 40px;}

/*Nav */
.buscar{border-radius: 1px;}
#input-search{max-width: 500px;}
.nav-link{
    color: black;
    font-weight: 500;}
.nav-item{position: relative;}
.nav-item:after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 8px;
    bottom: 5px;
    transition: 0.6s;}
.nav-item:hover::after{width: 80%;}