<h2 class="text-center bg-dark text-white py-3">Usuarios registrados</h2>
<div class="fondo">
<div class="container">
    <div class="card pt-3 mb-5 pb-5">
        <div class="card-header d-flex justify-content-between">
            <h3>Listado de usuarios </h3>
            <h5 class="mt-2">Usuarios registrados: <b class="text-primary"> 0 </b></h5>
        
        </div>
        <div class="card-body">

<table datatable class="table">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nombre completo</th>
        <th>Fecha de nacimiento</th>
        <th>Edad</th>
        <th>Region de residencia</th>
        <th>Teléfon</th>
        <th>Email</th>
        <th>Acciones</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        
        <td><li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-primary px-3 py-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acción
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/my-publications">Ver publicaciones</a></li>
              <li><a class="dropdown-item" routerLink="/my-publications">Desabilitar</a></li>
              <li><a class="dropdown-item" routerLink="/my-publications">Eliminar</a></li>
            </ul>
          </li>
        </td>
      </tr>
      <tr>
        <td>1</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        <td>Lorem ipsum dolor sit.</td>
        
        <td><li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-primary px-3 py-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acción
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/my-publications">Ver publicaciones</a></li>
              <li><a class="dropdown-item" routerLink="">Desabilitar</a></li>
              <li><a class="dropdown-item" routerLink="">Eliminar</a></li>
            </ul>
          </li>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
</div>