.fondo{
    background-color: rgb(245, 245, 245);
}

ul{
    list-style-type: none;
}
.card{
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 5px rgb(140, 140, 140);
    border-radius: 1px !important;
}