.sidebar{
    background-color: rgb(201, 201, 201);
    height: 280px;
    border-radius: 1px !important;}
.filtro, select{
    font-size: 15px;
    border-radius: 1px;}
ul{list-style-type: none;}
li{
margin-bottom: -11px;
text-decoration: none;
}
.fondo{background-color: rgb(245, 245, 245);}
.card{
    background-color: rgb(250, 250, 250);
    border-radius: 1px !important;
    box-shadow: 1px 1px 5px rgb(140, 140, 140);}
p{  padding: 0px;
    margin-bottom: 0px;}