<h2 class="text-center bg-dark text-white py-3">Detalles de la publicación</h2>
<div class=" fondo py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>{{post.title}}</h3>
                <hr>
                <p><b> Fecha de publicación:</b>{{post.creationDate}}</p>
                <p><b> Categoria:</b>{{post.category}}</p>
                <p><b> Región:</b>{{post.region}}</p>
                <p><b> Descripcion detallada:</b>{{post.detailedDescription}}</p>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="info px-3 py-2">
                        <h3>Datos del que publica</h3>
                        <hr>
                        <p><b>Nombre: </b>Pablo Guti</p>
                        <p><b>Telefono: </b>676768877</p>
                        <p><b>Correo electrónico: </b>pablo@gmail.com</p>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
