.sidebar{
    background-color: rgb(201, 201, 201);
    height: 280px;
}

.filtro, select{
    font-size: 15px;
}

ul{
    list-style-type: none;
}

li{
margin-bottom: -11px;
text-decoration: none;

}
.fondo{
    background-color: rgb(245, 245, 245);
}

.card{
    background-color: rgb(250, 250, 250);
    box-shadow: 1px 1px 5px rgb(140, 140, 140);
    
}

p{
    padding: 0px;
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 14px;
}

a:hover{
    color: black;
}