<h2 class="text-center bg-dark text-white py-3">Mi perfil</h2>
<div class="fondo">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-5 m-auto">
                <div class="card mb-4 rounded" style="max-width: 800px;">
                    <div class="">
                        <div class="card-body">
                            <h5 class="card-title"><b>Mis perfil</b></h5>
                            <hr>
                            <p><b> Nombre completo:</b> Pablo Guti.</p>
                            <p><b> Fecha de nacimiento:</b> 2 de junio 1995</p>
                            <p><b> Región de residencia:</b> Valparaiso</p>
                            <p><b> Numero de celular:</b> 72627262728</p>
                            <p><b> Correo electrónico:</b> pablo@gmail.com</p>
                            
                            <div class="mt-4 d-flex justify-content-end">
                                <a class="btn btn-primary me-3 mb-2" routerLink="/register">Editar mis datos</a>
                            </div>
                            <div class="mt-4 d-flex justify-content-start">
                                <a href="" class="me-3">Eliminar cuenta</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>