/*.ng-valid:not(form).ng-touched {border-left: 3px solid #000000;}*/
.ng-invalid:not(form).ng-touched {border: 1px solid #dc3545;}    
.btn-primary, .btn{
    background-color: black !important;
    color: white !important;
    border-color: black !important;
    border-radius: 2px !important;}
.btn-primary:hover{
    background-color: white !important;
    border-color: black !important;
    color: black !important;}
a:hover{color: rgb(53, 53, 53);}
.form-control:focus, .form-select:valid:focus{
    box-shadow: none;
    border: 1px solid #000}
input, select, textarea{border-radius: 1px !important;}


