<h2 class="text-center bg-dark text-white py-3">Recuperar contraseña</h2>
<div class=" pt-3 pb-5 mb-5 fondo ">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-5 m-auto">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3" [formGroup]="recoverForm">
                        <h3>Recuperar cuenta</h3>
                        <div class="col-md-12">
                            <label for="" class="form-label">Correo electronico</label>
                            <input type="text" formControlName="email" class="form-control" id="" value="" required="" email="true">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                                <div class="ps-1" *ngIf="email.errors?.['required']">
                                    <span class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i> Debes ingresar un correo electronico.</span>
                                    
                                  </div>      
                                  <div *ngIf="email.errors?.['email']">
                                    <span class="text-danger"><i class="fa-solid fa-triangle-exclamation"></i> Debes ingresar un correo electronico valido.</span>
                                   
                                  </div>
                                </div>
                        </div>
                        <div class="col-12 d-grid">
                            <button class="btn btn-primary" (click)="recover()" type="submit">Recuperar</button>
                        </div>
                        <div class="my-3 d-flex justify-content-between">
                            <a routerLink="/auth">Iniciar sesión</a>
                            <a routerLink="/register" class="">Crear cuenta</a>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
